@using UbbRentalBike.ViewModel;
@model IEnumerable<TripDetailViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<link href="css/HomeStyle.css" rel="stylesheet" type="text/css">
<div class="text-center">
    <h1 class="display-4">Witaj w naszym biurze podrózy!</h1>
    <p>Wybierz interesującą cię wycieczkę!</p>
</div>

